body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #3fcfff;
}

body .image:hover {
  cursor: pointer;
}

.navbar {
  min-height: 90px;
  background-color: #00BFFF;
}

.navbar-brand {
  padding: 0 15px;
  height: 90px;
  line-height: 90px;
}


@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (90px - line-height of 27px) / 2 = 31.5px */
    padding-top: 31.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
    background-color: #00BFFF
  }
}

.navbar-brand img {
  height: 100%;
  margin-right: 10px;
}

.mapContainer {
  height: 80vh;
  margin-left: 20px;
  margin-right: 20px;
  border: 4px solid white;
  border-radius: 5px;
  margin-top: 80px;
}

#infoWindowContent {
  margin: 0px;
  color: #337ab7;
  text-align: center;
}

#event_description{
  font-weight: 800;
}

.infoBits{
  margin:5%;
}

.sideBoxInfo{
  font-family: Raleway, sans-serif;
  font-size:larger;
  opacity: 1;
  color:white;
  margin-top: 20%;
}

.btn-default {
  color: white;
  background-color: #00BFFF;
  border-color: #ccc;
}

.btn-default:hover {
    color: #00BFFF;
    background-color: white;
    border-color: #adadad;
}

.sideBox {
  margin: 0px;
  color: #00BFFF;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  opacity: 0.85;
  width: 35%;
  border: 1px solid #337ab7;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  transition: right 2s;
}
