body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  background-color: #3fcfff;
}

body .image:hover {
  cursor: pointer;
}

.pics{
  width: 70px;
  height: 70px;
  display: inline-block;
  margin: 5px;
  border: 2px white solid;
  border-radius: 6px;
}

.picsDiv {
  padding-left: 40px;
  padding-right: 40px;
}

.pics:hover {
  width: 85px;
  height:85px;
  transition: .5s;
  cursor: pointer;
  border: 2px #3fcfff solid;
  border-radius: 6px;
}

.navbar {
  min-height: 90px;
  background-color: #3fcfff;
  border: none;
  font-size: large;
}

.navbar-brand {
  padding: 0 15px;
  height: 90px;
  line-height: 90px;
}

.navbar-brand img {
  height: 100%;
  margin-right: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #b2fbe0;
  border-radius: 5px;
  font-weight: bold
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-weight: bold

}

ul.nav {
  margin: 20px;
}

.mapContainer {
  height: 80vh;
  margin-left: 20px;
  margin-right: 20px;
  border: 4px solid white;
  border-radius: 5px;
}

#infoWindowContent {
  margin: 0px;
  color: #337ab7;
  text-align: center;
}

#event_description{
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  
}

.infoBits{
  margin: 25px;
}

btn.signup-cancel  {
  margin-bottom: 20px;
}

.sideBoxInfo{
  font-family: Raleway, sans-serif;
  font-size:larger;
  opacity: 1;
  color:white;
  margin-top: 35px;
  padding-right: 10px;
  padding-left: 10px;
}

.btn-default {
  color: white;
  background-color: #00BFFF;
  border-color: #ccc;
  margin-bottom: 20px;
}

.btn-default:hover {
    color: #00BFFF;
    background-color: white;
    border-color: #adadad;
}

@media (max-width: 12450px) {
  .sideBox {
    margin: 0px;
    color: #00BFFF;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.85;
    width: 40%;
    border: 1px solid #337ab7;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: right 1.5s;
  }
}

@media (max-width: 780px) {
  .sideBox {
    margin: 0px;
    color: #00BFFF;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.85;
    width: 70%;
    border: 1px solid #337ab7;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: right 1.5s;
  }
}

@media (max-width: 780px) {
  .infoBits{
    margin: 5px;
  }
}

@media (max-width: 780px) {
  .pics{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    margin: 5px;
    border: 2px white solid;
    border-radius: 6px;
  }
}

@media (max-width: 780px) {
  .pics:hover {
    width: 45px;
    height: 45px;
    transition: .5s;
    cursor: pointer;
    border: 2px #3fcfff solid;
    border-radius: 6px;
  }
}

