.login-form {		
	color: black;
	width: 350px;
	background-color: slategray
}
.login-form .login-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.login-form .login-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}
.login-form h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.login-form .form-control:focus {
	border-color: black;
}
.login-form .form-control, .login-form .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.login-form .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.login-form .login-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
.login-form .login-footer a {
	color: #999;
}		
.login-form .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -100px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #FFDEAD;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
	width: 100%;
}
.login-form.login-dialog {
	margin-top: 80px;
}
.login-form .btn {
	color: #636363;
	border-radius: 4px;
	background: #FFDEAD;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.login-form .btn:hover, .login-form .btn:focus {
	background: #D9B073;
	outline: none;
}