p {
  color: #F5F5F5;
  font-weight: bold;
  font-size: 25px;
}

h1 {
  color: #F5F5F5;
  font-weight: bold;
  text-align: center
}

.userprofile-body {
  background-color: #00AAE4;
  height: 840px;
}

.summary {
  margin-top: 70px;
  color: #98FB98;
}

.detail{
  font-size: 16px;
  margin-right: 5px;
  font-weight: bold;
  display: inline;
}

.badge-image {
  height: 4em;
}

.pic {
  z-index: 1;
  margin-top: 43px;
  margin-right: 43px;
  height: 220px;
  border-radius: 10px;
  border: 3px solid white;
  float: right;
}

/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.profile {
  text-align: left;
  margin-left: 30px;
  display: inline;
  color: #98FB98;
}

.userDetails {
  text-align: left;
  margin-left: -6px;
  font-size: 20px;
  display: inline;
  color: #98FB98;
}

.event {
  margin-left: 100px;
  text-align: left;
  font-size: 20px;
  color: #98FB98;
  display: inline;
}

.event2 {
  text-align: left;
  font-size: 12px;
  color: white;
  display: inline;
}

.upcoming {
  margin-right: 5px;
  margin-top: 90px;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

.heading {
  margin-left: 100px;
  text-align: left;
  font-size: 30px;
  color: #98FB98;
}

.circleClass {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-right: 10px;
}

.CircularProgressbar1 {
  height: 190px;
  width: 190px;
}

 .CircularProgressbar2{
   height: 190px;
   width: 190px;
 }

 .CircularProgressbar3{
   height: 190px;
   width: 190px;
 }

.skills {
  margin-right: 30px;
  margin-top: 75px;
  font-size: 30px;
  text-align: center;
}

.textClass {
   display: flex;
   justify-content: space-around;
   margin-right: 30px;
   margin-top: 10px;
 }


.CircularProgressbar-path {

  stroke-linecap: round;
  transition: stroke-dashoffset 5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #FFA500;
}

.CircularProgressbar2 .CircularProgressbar-path {
  stroke: #FAFA37;
}

.CircularProgressbar3 .CircularProgressbar-path {
  stroke: #98FB98;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: white;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: white;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
